<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation=
	"http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<mvc:annotation-driven/>
	
	<mvc:default-servlet-handler />

	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/view/"/>
	</mvc:view-resolvers>
	
	<!-- 뷰 컨트롤러! 프로젝트 경로 설정  JSP파일 설정! 왼쪽으로 설정해두면 뷰네임으로 간다.--> 
	<mvc:view-controller path="/board/main" view-name="/board/main"/>
	<mvc:view-controller path="/board/login" view-name="/board/login"/>
	<mvc:view-controller path="/board/logout" view-name="/board/logout"/>
	<mvc:view-controller path="/board/reg" view-name="/board/reg"/>
	<mvc:view-controller path="/board/regok" view-name="/board/regok"/>
	<mvc:view-controller path="/board/danaom" view-name="/board/danaom"/>
	<mvc:view-controller path="/board/delete" view-name="/board/delete"/>
	<mvc:view-controller path="/board/deleteok" view-name="/board/deleteok"/>
	<mvc:view-controller path="/board/changeinfo" view-name="/board/changeinfo"/>
	<mvc:view-controller path="/board/changeinfook" view-name="/board/changeinfook"/>
	<mvc:view-controller path="/board/idCheck" view-name="/board/idCheck"/>
	<mvc:view-controller path="/board/nickCheck" view-name="/board/nickCheck"/>
	
	<bean id="boardController" class="board.controller.BoardController">
	
		<property name="boardService" ref="boardService" />
	</bean>
	
	
</beans>